body{
    background: rgb(157, 158, 149);
    color: rgb(22, 4, 4);
    font-family: Arial, Helvetica, sans-serif;
    text-align:center;
    margin: 0;
}
h2,h3,p{
    margin:0;
}
#hdr
{
    min-height: 220px;
    padding-top: 3em;
    padding-bottom: 0;
    padding-right: 1.5em;
    padding-left: 1.5em;
}
.dest
{
    background: #2A3C24;
}

.dest
{
    width: 40%;
    display: inline-block;
}
.btn
{
    text-decoration: none;
    color: aliceblue;
    padding:1em 2em;
    border: 1px solid #87a330;
    display:inline-block;
    margin-top: 1em;
    margin-bottom: 1em;
}
.btn{
    background:#a1c349;
}
.hdr-bg
{
    background:url("../imagess/siva.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  min-height:260px;
  position:absolute;
  z-index:-1;
  opacity:10;
  margin: 0;
}
p{
    opacity:2;
}
h2,h3{
    padding-top:0.5em;
    padding-bottom:0.5em;
}
.contact{
    background:#a1c349;
    min-height:100px;
}
.prices{
    background:#87a330;
    min-height:100px;
}
footer{
    min-height: 50px;
    background:#cad593;
    color:rgb(187, 19, 19);
    line-height:100px;
}

 